@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

body{
    font-family: "Inter", sans-serif;
    color: #333;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #333;
}
* {
    box-sizing: border-box;
}

header{
    background-color: gold;
    height: 110px;
    padding: 10px 0;
}

.logo{
    width: 100px;
}
.logo img{
    width: 100px;
}
nav{
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.lang-menu{
    margin-top: 25px;
    position: relative;
}

.selectedlang{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100px;
    color: #333;
}
.selectedlang:before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(https://flagsapi.com/GB/shiny/32.png);
}
.lang-menu ul{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
}
.lang-menu ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.lang-menu ul li a{
    width: 150px;
    display: block;
    padding: 5px 10px;
}
.lang-menu ul li a:hover{
    background-color: #f2f2f2;

}
.lang-menu ul li a:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.en:before{
    background-image: url(https://flagsapi.com/GB/shiny/32.png);
}
.lv:before{
    background-image: url(https://flagsapi.com/LV/shiny/32.png);
}
.lt:before{
    background-image: url(https://flagsapi.com/LT/shiny/32.png);
}
.lang-menu:hover ul{
    display: block;
}